.vs/
[Oo]bj/
#[Oo] bedeutet, dass sowohl "obj" als auch "Obj" ignoriert werden sollen
bin/ 
# bin ordner soll ignoriert werden

# markdown

# Ganz groﬂ

## ‹berschrift 2

*.md 
# Alle Markdown-Dateien sollen ignoriert werden

